#holder { 
    display: inline-grid;
    grid-template-columns: 20% 1fr 20% [edge];
    grid-template-rows: 10% max-content min-content min-content [edge];
    width: min(max-content, 1vw);
}

#number {
    grid-column: 1 / span edge;
    grid-row: 1 / auto;
}

#imageHolder {
    grid-column: 1 / span edge;
    grid-row: 2 / auto;
    background-repeat: no-repeat;
}

#imageHolder > img {
    max-width: 100%;
}

.button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 40px;
    font-size: 11pt;
    margin: 5px;
    border-radius: 10px;
    padding: 0 10px;
}

#left {
    text-align: left;
    background-color: #456d48;
    grid-column: 1 / auto;
    grid-row: 3 / auto;
}

#right {
    text-align: right;
    background-color: #456d48;
    grid-column: 3 / auto;
    grid-row: 3 / auto;
}

#random {
    text-align: center;
    background-color: #8cb7a6;
    grid-column: 2 / auto;
    grid-row: 3 / auto;
}

#showTitle {
    text-align: center;
    background-color: #88a2aa;
    grid-column: 1 / span edge;
    grid-row: 4 / auto;
}

#titleBox {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: silver;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#prefetch {
    display: none;
}
